<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.alliancesos">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission-sdk-23 android:name="android.permission.WRITE_SETTINGS" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Payment.TransferActivity" />
        <activity android:name=".Payment.PaymentActivity" />
        <activity android:name=".SpecificSOSActivity" />
        <activity android:name=".SendNotificationPack.SOSLogActivity" />
        <activity android:name=".SpecificEventActivity" />
        <activity android:name=".DoNotDisturb.PickNotDisturbActivity" />
        <activity android:name=".DoNotDisturb.NotDisturbActivity" />
        <activity android:name=".GroupSetting.GroupProfileActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".SendNotificationPack.InvitationResponseActivity" />
        <activity android:name=".Setting.UserSettingActivity" />
        <activity android:name=".SendNotificationPack.NotificationResponseActivity" />
        <activity android:name=".SetScheduleActivity" />
        <activity android:name=".MemberActivity" />
        <activity android:name=".GroupActivity" />
        <activity android:name=".SignUpPage" />
        <activity android:name=".LogInPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <service
            android:name=".SendNotificationPack.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".DeviceAlarm.MyAlarmReceiver"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>